
.contact
{
    position: absolute;
    min-height: 100vh;
    padding: 5px 10px;
    display: flex;
    justify-content: last baseline;
    align-items: last baseline;
    flex-direction: column;
}
.contact .contact-info
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact .contact-info .box
{
    position: basline;
    padding: ;
    display: flex;
}
.contact .contact-info .box .icon
{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    border-radius: 50%;
    font-size: 22px;
}
.contact .contact-info .box .text
{
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact .contact-info .box .text h3
{
    font-weight: 500;
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}