/*
Code of style.css 
*/
#main 
{ 
height:1000px; 
width:90%; 
background-color:#666; 
margin:0 auto; 
} 
#header 
{ 
height:150px; 
width:100%; 
background-color:#909; 
} 
#menu 
{ 
height:50px; 
width:100%; 
background-color:#FC0; 
} 
#content 
{ 
height:800px; 
width:100%; 
background-color:#CCC; 
} 
#left_bar 
{ 
height:800px;
width:20%; 
background-color:#909; 
float:left; 
} 
#text_area 
{ 
height:800px; 
width:60%; 
background-color:#FFF; 
float:left; 
} 
#right_bar 
{ 
height:800px; 
width:20%; 
background-color:#909; 
float:left; 
} 
#footer 
{ 
height:200px; 
width:100%; 
background-color:#000; 
}